.form {
  width: 327px;
  box-sizing: border-box;
  margin-top: -503px;
  width: 880px;
  margin: -503px auto 390px;

  @media (max-width: $tablet-width) {
    margin: 0;
    width: 100%;
  }
}

.form__container {
  width: 327px;
  margin-left: auto;
  @media (max-width: $tablet-width) {
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form__text {
  margin: 0;
  font-size: 17px;
  color: $white;
  line-height: 28px;
  letter-spacing: -0.5%;
  text-align: center;
  margin-bottom: 20px;
  @media (max-width: $tablet-width) {
    color: $black;
    margin-top: 69px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 20px;
  border: 1px solid $grey-border;
  border-radius: 6px;
  background-color: $white;
  padding-left: 30px;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: $tablet-width) {
    width: 321px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__submit {
  display: block;
  border-radius: 6px;
  border: none;
  background-color: $blue;
  height: 51px;
  width: 327px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    width: 321px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
