// Colors

$blue: #0AD9C6;
$white: #ffffff;
$black: #000000;
$dark: #131314;
$dark-text: #48494D;
$light-grey: #f6f6f6;
$bg-grey: #F6F7F9;
$grey: rgba(255, 255, 255, 0.8);
$grey-border: #C9CCD4;
$grey-transparent7:rgba(255, 255, 255, 0.7);
$black5: rgba(0, 0, 0, 0.5);
$bg-black: #131314;

$grey-transparent2: rgba(255, 255, 255, 0.2);

// Media

$tablet-width: 1023px;
$mobile-width: 767px;
